{% extends "base.html" %}

{% block title %}External Delivery App Home Page{% endblock %}

{% block content %}
<h2>Printing &amp; Scanning: Manage Uploas</h2>

<p>Print Batch: {{ b.Name.value }}
<br />
Batch ID: {{ b.ID.value }}<br />
Created: <span class="datetime">{{  b.CreatedDateTime_int }}</span></p>

<dl>
<dt>Participant</dt>
<dd>ID: {{ p.ID.value }}<br />
Name: {{ p.Name.value }}
</dd>

<dt>Assessment:</dt>
<dd>{{ a.Name.value }}<br/>
Snapshot: {{ s.Name.value }}<br />
Language: {{ s.Language.value }}<br />
<a href="snapview?sid={{ s.ID.value|safe }}" target="_blank">View
    HTML</a><br />
<a href="snapviewxml?sid={{ s.ID.value|safe }}" target="_blank">View
    XML</a></dd>
</dl>

<p>Step 4: Complete bubble sheet...</p>

<form method="POST" action="pasupload5">
<input type="hidden" name="bid" value="{{ b.ID.value }}"/>
<input type="hidden" name="pid" value="{{ p.ID.value }}"/>
{% for q in qlist %}
<p>{{ q.aml_qnumber }}.
    {% if q.type == "TF" or q.type == "MC" or q.type == "YN" or q.type == "LKS" %}
        {% for c in q.aml_choices %}
        {{ c }}. <input type="radio" name="q{{ q.aml_qnumber }}"
            value="{{ c }}"/>
        {% endfor %}
    {% elif q.type == "ESSAY" %}
        {% for c in q.aml_choices %}
        {{ c }}. <input type="text" name="q{{ q.aml_qnumber }}" />
        {% endfor %}
    {% else %}
        {{ c }}. Unscanned type {{ q.type }}
    {% endif %}</p>
{% endfor %}                    

<p><input type="submit"/>
</form>

{% endblock %}
